# Object files
*.o
minibox

# Libraries
*.a
*.la
*.lo

# Shared Objects
*.so
*.so.*

# executables
 *.out

# symlinks
wc
cat
cp
sync
yes
update
sleep
whoami
true
false
ls
echo
init
rm
rmdir
mv
cmp
mkdir

# Images
MINIBOX.png
MINIBOX-wTitle.png
