# Object files
*.o
minibox
minibox_unstripped

# Libraries
*.a
*.la
*.lo

# Shared Objects
*.so
*.so.*

# executables
 *.out

# symlinks
wc
cat
cp
sync
yes
update
sleep
whoami
true
false
ls
echo
init
rm
rmdir
mv
cmp
mkdir
mknod
hostname
free
xxd
od
hexdump
w
vmstat
cut
grep
tr
sort
uniq
uptime
ps
kill
tty
link
unlink
nohup
dirname
basename
cal
clear
env
expand
unexpand
fold
factor
touch
paste

# Images
MINIBOX.png
MINIBOX-wTitle.png

# Vim-type editor tags
tags
